<%= form_for @recipe do |f| %>
  <div class="section">
    <%= f.label :name %>
    <%= f.text_field :name, size: 60 %>
  </div>
  <div class="section ingredient-forms">
    <label>Ingredients</label>
    <% 100.times do |i| #TODO: Not cool, use templates.  %>
      <%= render :partial => "ingredient_form", :locals => { i: i, ri: @recipe.recipe_ingredients[i] || RecipeIngredient.new } %>
    <% end %>
    <button type ='button' class='add-button btn'>+</button>
  </div>
  <div class="section">
    <%= f.label "Instructions", class: 'text-area-label' %>
    <%= f.text_area :text, rows: 20, cols: 50 %>
  </div>
  <%= button_tag(@recipe.new_record? ? "Create Recipe!" : "Update Recipe", class: 'recipe-submit btn', type: 'button') %>

<% end %>

<script>
  $(".ingredient-input").select2({
    placeholder: "Find or add ingredient",
    createSearchChoice: function(term, data){
      return { id: "NEWINGREDIENT[" + term + "]", text: term };
    },
    data: <%= ("[" + Ingredient.all.sort_by(&:name).map{|i| "{id: #{i.id}, text: '#{i.name}'}"}.join(",") + "]").html_safe %>,
    width: '165px'
  });

  _.each($(".ingredient-form.hidden").splice(0,<%= [@recipe.recipe_ingredients.try(:size), 5].compact.max %>),
    function(form){ $(form).removeClass('hidden'); }
  );

  $(".add-button").on("click", function(){
    $(".ingredient-form.hidden").first().removeClass("hidden").show();
  });

  $(".destroy-ingredient-form").on("click", function(){
    $(this).parent().hide().find(".destroy").val('1');
  });

  $(".recipe-submit").on('click', function(){
    var $nameInput = $("#recipe_name");
    if ($nameInput.val() == "") {
      $nameInput.focus();
      $nameInput.addClass('required');
      alert("Name can not be blank");
    } else {
      $(".hidden").remove();
      $(".new_recipe,.edit_recipe").submit();
    }
  });
</script>
