Search for meals with many of these ingredients:
<br/>
<%= hidden_field_tag :search, {}, class: 'search-input' %>
<%= submit_tag "Search", class: 'search-submit short btn' %>
<% if recipe_ids_in_current_meal_plan.any? && !@overlap %>
  <%= submit_tag "Overlap with current meal plan", class: 'overlap-submit short btn' %>
<% end %>
<%= link_to "Clear Search", recipes_path, class: 'short btn' %>
<br/>
<br/>
<% if @recipes.empty? %>
  Sorry. No recipes matched this search.<br/><br/>
<% else %>
  <%= link_to "Add New Recipe", new_recipe_path, class: 'btn' %>

  <table>
    <tr>
      <th>Recipe</th>
      <th>Ingredients</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% @recipes.each do |recipe| %>
      <tr>
        <td>
          <%= link_to recipe.name, recipe_path(recipe) %>
        </td>
        <td>
          <%= recipe.ingredients.map(&:name).map{|i| (@searched_ingredient_names || []).include?(i) ? i.gsub!(i, "<span class='ingredient_name'>#{i}</span>") : i }.join(", ").html_safe %>
        </td>
        <td>
          <%= recipe_ids_in_current_meal_plan.include?(recipe.id) ? "In Current Meal Plan (#{link_to('Remove', remove_recipes_meal_plans_path(:id => recipe.id))})".html_safe : link_to("Add To Meal Plan", add_recipe_meal_plans_path(:id => recipe.id)) %>
        </td>
        <td>
          <%= link_to image_tag("pencil.png", :border => 0), edit_recipe_path(recipe) %>
        </td>
        <td>
          <%  unless recipe_ids_in_current_meal_plan.include?(recipe.id) %>
            <%= link_to image_tag("cross.png", :border => 0), recipe_path(recipe), :method => :delete, :confirm => "Are you sure you want to destroy recipe \"" + recipe.name + "\"?"  %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= link_to "Add New Recipe", new_recipe_path, class: 'btn' %>


<script>
  $(".search-input").select2({
    multiple: true,
    data: <%= ("[" + Ingredient.all.sort_by(&:name).map{|i| "{id: #{i.id}, text: '#{i.name}'}"}.join(",") + "]").html_safe %>,
    width: "400px",
    initSelection: function(element, callback) {
      var data = <%= ("[" + Ingredient.find(@searched_ingredient_ids || []).map{|i| "{id: #{i.id}, text: '#{i.name}'}"}.join(",") + "]").html_safe %>;
      callback(data);
    }
  });

  $(".search-submit").on("click", function(){
    var selected = $(".search-input").select2("val"); 
    selected.splice(0,1); //No idea why, but selected includes {} as first element in array
    if ( selected.length ) {
      window.location ="/recipes?search=" + selected;
    }
  });

  $(".overlap-submit").on("click", function(){
      window.location ="/recipes?search='overlap'"
  });
</script>
