Search for meals with many of these ingredients: <%= hidden_field_tag :search, {}, class: 'search-input' %>
<%= submit_tag :search, class: 'search-submit btn' %>
<%= link_to "Clear Seach", recipes_path, class: 'btn' %>
<br/>
<br/>
<% if num_recipes_in_current_meal_plan > 0 %>
  <%= submit_tag "Sort by overlap with current meal plan", class: 'overlap-submit btn' %>
<% end %>
<%= link_to "Add New Recipe", new_recipe_path, class: 'btn' %>

<table>
  <tr>
    <th>Recipe</th>
    <th>Ingredients</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @recipes.each do |recipe| %>
    <tr>
      <td>
        <%= link_to recipe.name, recipe_path(recipe) %>
      </td>
      <td>
        <%= recipe.ingredients.map(&:name).join(", ") %>
      </td>
      <td>
        <%= link_to "add to meal plan", add_recipe_meal_plans_path(:id => recipe.id) %>
      </td>
      <td>
        <%= link_to "edit", edit_recipe_path(recipe) %>
      </td>
      <td>
        <%= link_to "X", recipe_path(recipe), :method => :delete, :confirm => "Are you sure you want to destroy recipe \"" + recipe.name + "\"?"  %>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to "Add New Recipe", new_recipe_path, class: 'btn' %>


<script>
  $(".search-input").select2({
    multiple: true,
    data: <%= ("[" + Ingredient.all.sort_by(&:name).map{|i| "{id: #{i.id}, text: '#{i.name}'}"}.join(",") + "]").html_safe %>,
    width: "400px",
    initSelection: function(element, callback) {
      var data = <%= ("[" + Ingredient.find(@searched_ingredient_ids || []).map{|i| "{id: #{i.id}, text: '#{i.name}'}"}.join(",") + "]").html_safe %>;
      callback(data);
    }
  });

  $(".search-submit").on("click", function(){
    var selected = $(".search-input").select2("val"); 
    selected.splice(0,1); //No idea why, but selected includes {} as first element in array
    if ( selected.length ) {
      window.location ="/recipes?search=" + selected;
    }
  });

  $(".overlap-submit").on("click", function(){
      window.location ="/recipes?search='overlap'"
  });
</script>
