<%= form_for @recipe do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br/>
  <%= f.label :text %>
  <%= f.text_area :text %>
  <br/>
  <div class="ingredient-forms">
    <% 100.times do |i| #TODO: Not cool, use templates.  %>
      <%= render :partial => "ingredient_form", :locals => { :i => i } %>
    <% end %>

    <button type ='button' class='add-button''>Add Another Ingredient</button>
    <br/>
    <br/>
  </div>

  <%= f.submit %>

<% end %>

<script>
  $(".ingredient-input").select2({
    placeholder: "Find or add ingredient",
    createSearchChoice: function(term, data){
      return { id: "NEWINGREDIENT[" + term + "]", text: term };
    },
  data: <%= ("[" + Ingredient.all.map{|i| "{id: #{i.id}, text: '#{i.name}'}"}.join(",") + "]").html_safe %>
  });

  $(".ingredient-form.hidden").hide().first().show()

  $(".add-button").on("click", function(){
    $(".ingredient-form.hidden").first().removeClass("hidden").show();
  });

  $(".destroy-ingredient-form").on("click", function(){
    var form = $(this).parent().remove();
  });
</script>
