<!DOCTYPE html>
<html>
<head>
  <title>Mealplan<%= ': ' + @title unless @title.blank? %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='header'>
    <% unless @title.blank? %>
      <h1 class ='no-print'><%= @title %></h1>
    <% end %>

    <% unless flash[:notice].blank? %>
      <div class="notice"><%= flash[:notice] %></div>
      <br/>
    <% end %>
    
    <% unless flash[:alert].blank? %>
      <div class="alert"><%= flash[:alert] %></div>
      <br/>
    <% end %>
      
    <div class="nav no-print">
      <ul>
        <li><%= link_to "Recipes", recipes_path %></li>
        <li><%= link_to "Meal Plans", meal_plans_path %></li>
        <li><%= link_to "Ingredients", ingredients_path %></li>
        <% if num_recipes_in_current_meal_plan > 0 %>
          <li><%= link_to("Save Meal Plan with #{num_recipes_in_current_meal_plan} Recipe(s)", meal_plans_path, method: :post) %></li>
          <li><%= link_to "Empty Meal Plan", remove_recipes_meal_plans_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <br>
  <%= yield %>
</body>
</html>
