<!DOCTYPE html>
<html>
<head>
  <title>Mealplan<%= ':' + @title unless @title.blank? %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% unless @title.blank? %>
    <h2><%= @title %></h2>
  <% end %>

  <div class="nav">
    <%= link_to "Recipes", recipes_path %>
    <%= link_to "Saved Meal Plans", meal_plans_path %>
    <% if num_recipes_in_current_meal_plan > 0 %>
      <%= link_to("Save Meal Plan with #{num_recipes_in_current_meal_plan} Recipe(s)", meal_plans_path, method: :post) %>
      <%= link_to "Empty Meal Plan", remove_recipes_meal_plans_path %>
    <% end %>
  </div>
  
  <% unless flash[:notice].blank? %>
    <div class="notice"><%= flash[:notice] %></div>
    <br/>
  <% end %>
  
  <% unless flash[:alert].blank? %>
    <div class="alert"><%= flash[:alert] %></div>
    <br/>
  <% end %>
  <br/>
  <hr>
  <br>
  <%= yield %>
</body>
</html>
