<!DOCTYPE html>
<html>
<head>
  <title>Mealplan<%= ': ' + @title unless @title.blank? %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <script src="https://www.google.com/recaptcha/api.js?render=6LdUxYoUAAAAAFUc9IOTZHJpNWK6GdeRnF7xzhd3"></script>
  <script>
    grecaptcha.ready(function() {
      grecaptcha.execute('6LdUxYoUAAAAAFUc9IOTZHJpNWK6GdeRnF7xzhd3', {action: 'homepage'}).then(function(token) {
        const postParams = {
          headers: {
            "content-type": "application/json; charset=UTF-8"
          },
          method: "POST"
        }
        const url = 'https://cors-escape.herokuapp.com/https://www.google.com/recaptcha/api/siteverify?' + $.param({ secret: "6LdUxYoUAAAAAJv8Z8KVXn6CY8OrTG3uHZk4soAp", response: token })
        fetch(url, postParams).then(function(response) {
          return response.json()
        }).then(function(responseJson) {
          newrelic.setCustomAttribute('recaptchaScore', responseJson.score)
        })
      })
    })
  </script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='header'>
    <% unless @title.blank? %>
      <h1 class ='no-print'><%= @title %></h1>
    <% end %>
      
    <div class="nav no-print">
      <ul>
        <li><%= link_to "Recipes", recipes_path %></li>
        <li><%= link_to "Meal Plans", meal_plans_path %></li>
        <li><%= link_to "Ingredients", ingredients_path %></li>
        <% if recipe_ids_in_current_meal_plan.any? %>
          <li><%= link_to("Preview Meal Plan with #{recipe_ids_in_current_meal_plan.size} Recipe(s)", meal_plan_path(id: 'current')) %></li>
          <li><%= link_to("Save Meal Plan", meal_plans_path, method: :post) %></li>
          <li><%= link_to "Clear Meal Plan", remove_recipes_meal_plans_path, method: :put %></li>
        <% end %>
      </ul>
    </div>

    <% unless flash[:notice].blank? %>
      <div class="notice"><%= flash[:notice] %></div>
      <br/>
    <% end %>

    <% unless flash[:alert].blank? %>
      <div id="flash-alert" class="alert"><%= flash[:alert] %></div>
      <br/>
    <% end %>
  </div>
  <br>
  <%= yield %>
</body>
</html>
